nav {
  width: 100%;
  height: 65px;
  background-color: #fff;
  border-bottom: 1px #eee solid;
  position: fixed;
  top: 0;
  z-index: 10;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 50px;
}

/* LOGO */
.logo {
  width: 200px;
}
.logo > a > img {
  width: 100%;
}

/* LINKS */
.links {
  display: flex;
  gap: 30px;
}
.links-mobile {
  display: none;
}

/* ICONS */
.icons {
  display: flex;
  gap: 30px;
}
.icons-mobile {
  display: none;
}
.mobile-icons {
  display: none;
  gap: 30px;
}
.mobile-nav-container {
  display: none;
}

/* SEARCH */
.search-bar {
  height: 45px;
  width: 250px;
}
.search-bar-mobile {
  display: none;
}

.search {
  width: 100%;
  height: 100%;
  border: #eee solid 0.5px;
  border-radius: 3px;
  padding: 13px 10px;
  font-size: 14px;
  color: #7e7e7e;
  font-weight: 500;
}
.search:focus {
  outline: none;
}
.lock-scroll {
  overflow: hidden;
}
@media only screen and (max-width: 1280px) {
  .search-bar,
  .icons,
  .links {
    display: none;
  }
  .mobile-icons {
    display: flex;
  }
  .mobile-nav-container {
    padding: 15px;
    display: none;
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: calc(100% - 65px);
    background-color: #aaaaaa46;
    backdrop-filter: blur(100px);
    z-index: 10;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
  }
  .search-bar-mobile {
    display: flex;
  }
  .links-mobile {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .icons-mobile {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .nav-container {
    padding: 0 00px;
  }
}
@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}
