* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  padding-top: 65px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.center-container {
  border-radius: 15px;
  width: 800px;
  height: 500px;
  margin: auto;

  display: flex;
  overflow: hidden;
  box-shadow: -1px 0px 4px #0000003b;
}
/* SPEACIAL CLASSES */
.nav-links-font {
  color: #000;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
.icon-buttons {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.icon-buttons > * {
  font-size: 25px;
  color: #7e7e7e;
}
.row-heading {
  font-size: 20px;
  font-weight: 900;
  margin: 25px 0 15px;
}
.hr {
  margin: 15px 0;
  background-color: #e9e9e9;
  width: 100%;
  height: 0.5px;
}
.sm {
  margin: 15px 0;
}
.mm {
  margin: 30px 0;
}
.lm {
  margin: 60px 0;
}
button {
  cursor: pointer;
}

/* @media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
*/
/*
@media only screen and (max-width: 400px) {
} */

@media only screen and (max-width: 1280px) {
  .container {
    width: 95%;
  }
}
@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .center-container {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 400px) {
}
