.cart-container {
  display: flex;
  width: 100%;
  margin: 80px auto !important;
  gap: 50px;
}
.shopping-cart {
  flex: 0 0 66%;

  /* height: 423px; */
  background: #f3f3f3;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-cartbrn,
.like-cartbrn {
  display: inline-block;
  cursor: pointer;
}
.delete-cartbrn,
.like-cartbrn svg {
  width: 100%;
}
.delete-cartbrn {
  width: 30px;
  height: 30px;
  /* background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center; */
}

.like-cartbrn {
  /* background: url("twitter-heart.png"); */
  width: 30px;
  height: 30px;
}
.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}
.image {
  margin-right: 50px;
  width: 100px;
}
.image > img {
  width: 100%;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

button[class*="cartbrn"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-cartbrn img {
  margin-bottom: 3px;
}
.plus-cartbrn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline: 0;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}

/* TOTALCART */
.total-cart {
  background: #f3f3f3;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 100%;
}
.sumury-details {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.sumury-details div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.summuy-fade-text {
  color: #43484d;
  font-weight: 400;
}
.summuy-big-text {
  color: #43484d;
  font-weight: 700;
  font-size: 40px;
  border-top: #b4b4b4 2px solid;
  border-bottom: #b4b4b4 2px solid;
}
.checkout-btn-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  pading-top: auto;
}
.checkout-btn {
  margin: auto auto 0;
  background-color: #004900;
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  color: #fff !important;
  padding: 0 30px;
  height: 45px;
  border: none;
}
a {
  list-style: none;
  color: #fff;
  text-decoration: none;
}
